.button{
    background-color: black;
    border:2px solid purple;
    border-radius: 20px;
    color: white;
    padding: 5px 50px; 
    display: block;
    margin-left: auto;
    margin-right:auto;
}
.button:hover{
    background-color: purple;
    color: black; 
    border: 2px solid black; 
    cursor: pointer; 
}
.screen{
    display: none; 
}
.screen.active{
    display: block;
    margin: auto; 
    text-align: center;
    border: 2px solid black; 
    background: black;
    height: 100%;
    padding: 10% 0; 
}
#mainMenu{
    margin: auto; 
    text-align: center;
    border: 2px solid black; 
    background: black;
    height: 100%;
    padding: 10% 0; 
}
#gameplayCanvas{
    height: 100%;
    width: 100%;
}
.mainTitle{
    color: white;
}
.normalText{
    color: white; 
}
#buttonList{
    margin: auto;
    align-items: center;
}